:root {
  font-family: "Montserrat", sans-serif;
  color: var(--black);

  /* Colors */
  --jobed-orange: #ff7e4e;
  --jobed-yellow: #ffa41b;
  --jobed-blue: #5a75bc;
  --jobed-green: #04a99f;
  --white: #ffffff;
  --black: #000000;
  --grey: #d9d9d9;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    border-bottom: 1px solid var(--black);
    height: 10vh;

    justify-content: space-between;
  }

  .navbar>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
  }

  .navbar> :first-child,
  .navbar> :last-child {
    width: 25%;
  }

  .navbar-button {
    font-weight: bold;
    padding: 1em 3em;
    background-color: var(--black);
    color: var(--white);
    border-radius: 2em;
    text-decoration: none;
  }

  .navbar-button:hover {
    background-color: var(--jobed-yellow);
  }

}

@media screen and (max-width: 1000px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: 10vh;
    align-items: center;
  }

  .navbar>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
  }

  .navbar> :first-child,
  .navbar> :last-child {
    width: 100%;
  }

  .navbar-button {
    display: none;
  }

  .navbar-button:hover {
    background-color: var(--jobed-yellow);
  }

}

/*
.navbar-links-container {
  width: 50%;
  border-right: 1px solid var(--black);
  border-left: 1px solid var(--black);
}

.navbar-links-container>* {
  padding: 0 1.25em;
  text-decoration: none;
  color: var(--black);
  font-size: large;
}

.navbar-links-container>*:hover {
  text-decoration: underline;
  color: var(--jobed-yellow);
}

.navbar-links-container> :last-child {
  padding-right: 0;
}

.navbar-links-container> :first-child {
  padding-left: 0;
} */

.hero-work-in-progress {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--jobed-yellow);
}

.hero-work-in-progress>h1 {
  font-size: 8em;
  font-family: "bd-orange-variable";
  font-variation-settings: "wght" 400;
}

h1 {
  font-size: 6em;
  font-family: "bd-orange-variable";
  font-variation-settings: "wght" 400;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 4em 4em;
    gap: 2em;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em;
  }

  .hero-text>h1 {
    font-size: 5em;
  }

  .hero-text>p {
    font-size: 1.2em;
  }

  .hero>img {
    width: 50%;
  }

}

@media screen and (max-width: 1000px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 4em;
    gap: 2em;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em;
  }

  .hero-text>h1 {
    font-size: 5em;
  }

  .hero-text>p {
    font-size: 1.2em;
  }

  .hero>img {
    width: 100%;
  }

}

.profile-container {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 4em 0;
}

.hero-about {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 4em 0;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.profile-card>h3 {
  font-size: x-large;
  margin-bottom: 0.2em;
}

.profile-card>p {
  font-size: large;
}

footer {
  background-color: var(--jobed-green);
  color: var(--white);
  padding: 6em 5em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.footer-link-container {}

.footer-link-container>a {
  display: block;
  color: var(--white);
  text-decoration: none;
  font-size: large;
}

.footer-link-container>h3 {
  font-size: x-large;
}